body
{
  
}
#canvas
{ 
  background-color:#500;
}
#debug table tbody tr td
{
  font-family:helvetica; 
  font-size:10px;
}
#log
{
  color:black;
  font-weight:bold;
  font-family:helvetica; 
  font-size:10px;
}
#log2
{
  color:gray; 
  font-family:helvetica; 
  font-size:10px;
  height:200px;
}